
/********************************************
                  BODY
********************************************/
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}
p {
  font-size: 1.15em;
}
.banner {
  background-image: url('../images/purple.jpg');
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}
/********************************************
                  NAVBAR
********************************************/
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-inverse .navbar-toggle {
  color: #fff;
  border-color: #fff;
}

/********************************************
                  HOME PAGE
********************************************/
.banner h1 {
  padding: 2em 0;
  margin: 0 1.25em;
  font-size: 2.25em;
}
.banner a {
  font-weight: bold;
  font-size: 1.25em;
  display: block;
  width: 200px;
  border-radius: 6px;
  margin: 20px auto;
}
.banner a:first-child,
.banner a:last-child:hover {
  color: #fff;
  background-color: #673AB7;
  border: 4px solid #673AB7;
  transition: .3s;
}
.banner a:last-child,
.banner a:first-child:hover {
  color: #673AB7;
  background-color: transparent;
  border: 4px solid #673AB7;
  transition: .3s;
}
#home section {
  margin: 3em 0 5em 0;
}
#home p {
  margin-top: 2.25em;
}
#getStarted {

}
/********************************************
              LOGIN / SIGN UP PAGE
********************************************/
.login, .signup {
  background-image: url('../images/red.jpg');
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}
.login h1, .signup h1 {
  padding-top: 35px;
}
.userForm {
  max-width: 450px;
  margin: 70px auto;
}
/********************************************
            PROJECTS DETAIL PAGE
********************************************/

.hide {
  display: none;
}

.show {
  display: block;
}
/********************************************
                  SEARCH PAGE
********************************************/
.searchType {
  float: left;
  width: 50%;
}
.searchType input {
  float: left;
  margin-right: 5px;
}
