
/********************************************
                  BODY
********************************************/
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}
p {
  font-size: 1em;
}
.clear:before, .clear:after {
  display: table;
  content: ""
}
.clear:after {
  clear: both;
}
.fullWidth {
  width: 100%;
  padding: 1em;
}
.banner {
  background-image: url('../images/red.jpg');
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}
a {
  color: #222;
}
.tinyP {
  font-size: .9em;
}
.muted {
  color: #7e7474;
}
.red {
  color: #FF5722;
}
.purple {
  color: #6922ff;
}
.thick {
  font-weight: 700;
}
a.btn.btn-purple,
button.btn.btn-purple {
  background-color: #6922ff;
  color: #fff;
}
a.btn.btn-default,
button.btn.btn-default {
  background-color: #FF5722;
  color: #fff;
}
a.btn.btn-primary,
button.btn.btn-primary {
  background-color: #343434;
  border-color: #343434;
}
a.btn.btn-white,
button.btn.btn-white {
  background-color: #fff;
  border-color: #000;
  font-weight: 500;
}
/********************************************
                  NAVBAR
********************************************/
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-inverse {
  background: #343434;
}
.navbar-inverse .navbar-toggle {
  color: #fff;
  border-color: #fff;
}
.logo-words {
  color: #FF5722;
}
/********************************************
                  HOME PAGE
********************************************/
.banner h1 {
  padding: 2em 0;
  margin: 0 1.25em;
  font-size: 2.25em;
}
.banner a {
  font-weight: bold;
  font-size: 1.25em;
  display: block;
  width: 200px;
  border-radius: 6px;
  margin: 20px auto;
}
.banner a:first-child,
.banner a:last-child:hover {
  color: #fff;
  background-color: #343434;
  border: 4px solid #343434;
  transition: .3s;
}
.banner a:last-child,
.banner a:first-child:hover {
  color: #343434;
  background-color: transparent;
  border: 4px solid #343434;
  transition: .3s;
}
/*.banner a:first-child,
.banner a:last-child:hover {
  color: #fff;
  background-color: #673AB7;
  border: 4px solid #673AB7;
  transition: .3s;
}
.banner a:last-child,
.banner a:first-child:hover {
  color: #673AB7;
  background-color: transparent;
  border: 4px solid #673AB7;
  transition: .3s;
}*/
#home #learn .guitarDiv {
  max-width: 350px;
  /*text-align: center;
  margin: auto;*/
  float: left;
}
#home #learn img {
  width: 100%;
}
#home section {
  margin: 3em 0 5em 0;
}
#home p {
  margin-top: 2.25em;
}
#getStarted {

}
/********************************************
              LOGIN / SIGN UP PAGE
********************************************/
.login, .signup {
  background-image: url('../images/purple.jpg');
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding-top: 1em;
}
.login h1, .signup h1 {
  font-size: 1.5em;
}
.userForm {
  max-width: 450px;
  margin: 2.5em auto;
}
/*.login h1, .signup h1 {
  padding-top: 35px;
}
.userForm {
  max-width: 450px;
  margin: 70px auto;
}*/
/********************************************
              CREATE NEW PROJECT
********************************************/
#newProject {
  background-image: url('../images/purple.jpg');
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding-top: 1em;
}
#newProject {
  margin: 0 auto;
  /*margin: 0 auto 5em auto;*/
}
#newProject label {
  color: #fff;
}
#newProject .types label,
#newProject .types h2 {
  color: #000;
}
#newProject .well {
  padding-top: .5em;
}
#newProject h1 {
  margin: 1em auto;
  font-size: 2em;
}
#newProject .types h2 {
  font-size: 1.5em;
}
#newProject .hasTypes,
#newProject .needsTypes {
  margin: 1em 0 0 35%;
}
#newProject form {
  max-width: 550px;
  margin: auto;
}
#newProject textarea {
  width: 100%;
  padding: .5em;
  border: 1px solid #000;
}
#newProject .types input {
  float: left;
  margin-right: 5px;
}
/********************************************
      CREATE NEW PROJECT - FILES UPLOADER
********************************************/
#newProjectFiles {
  margin: 1em auto;
}
#newProjectFiles h1 {
  font-size: 2em;
}
#newProjectFiles .doneBtn {
  text-align: center;
  margin: 5em auto;
}
#newProjectFiles form h3 {
  font-size: 1.15em;
  line-height: 1.2em;
  font-weight: 300;
}
#newProjectFiles form input[type="file"] {
  color: #FF5722;
}
#newProjectFiles form .upload {
  margin: .5em 0 0 .5em;
}
#newProjectFiles form .fileDiv {
  margin: 3.5em auto;
}
/********************************************
            PROJECTS DETAIL PAGE
********************************************/
#projectDetails .left {
  margin: 1em;
}
#projectDetails .right {
  background-color: whitesmoke;
}
#projectDetails .projectInfo {
  max-width: 300px;
  margin: auto;
}
#projectDetails .description {
  margin-bottom: 2em;
}
#projectDetails .projectInfo h1 {
  font-size: 2em;
}
#projectDetails .projectInfo h3 {
  font-size: 1em;
  font-weight: 400;
  text-align: left;
  line-height: 1.2em;
}
#projectDetails .completedProjects {
  margin-bottom: 2em;
}
#projectDetails .completedProjects h2 {
  font-size: 1.2em;
}
#projectDetails audio {
  width: 100%;
}
#projectDetails form.files {
  margin: 1em auto;
}
#projectDetails form.files h3 {
  margin-bottom: .5em;
  font-size: 1.2em;
}
#projectDetails form.files button {
  margin: 1em;
}
#projectDetails .editProjectInfo h2 {
  font-size: 1.5em;
}
#projectDetails .editProjectInfo label {
  font-weight: 400;
}
#projectDetails .editProjectInfo label {
  font-weight: 400;
}
#projectDetails .editProjectInfo .well input {
  float: left;
  margin-right: .5em;
}
#projectDetails .editProjectInfo textarea {
  width: 100%;
}
#projectDetails .editButtons {
  text-align: center;
  /*margin: 0 auto 2em auto;*/
}
#projectDetails .editButtons button {
  display: inline-block;
  margin: .25em .1em;
}
#projectDetails .members {
  margin: 2em auto 1em auto;
}
#projectDetails .members ul {
  margin: 1em auto 2em auto;;
  list-style-type: decimal;
}
#projectDetails .projectTypes h2 {
  font-size: 1.2em;
}
#projectDetails .projectTypes ul {
  list-style-type: circle;
}
#projectDetails .members li,
#projectDetails .projectTypes li {
  text-align: left;
}
#projectDetails .photo {
  text-align: center;
}
#projectDetails .avatar {
  max-width: 175px;
}
.hide {
  display: none;
}
.showBtn {
  display: block;
}
.showInline {
  display: inline-block;
}
#projectDetails .requests input {
  float: left;
  margin-right: 5px;
}
#projectDetails .requests h2 {
  font-size: 1.2em;
}
#projectDetails .comments form {
  max-width: 350px;
  margin: auto;
  margin-bottom: 1em;
  padding: 1em;
}
#projectDetails .comments form textarea {
  border: 2px solid #000;
  padding: .5em;
  width: 100%;
}
#projectDetails .comments .well {
  padding: .5em;
}
#projectDetails .comments .post button {
  margin: 1em 0 2em 0;
}
#projectDetails .comments .post h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
}
#projectDetails .comments form h2 {
  font-size: 1.2em;
}
#projectDetails .comments textarea {
  width: 100%;
  padding: .5em;
  border: 2px solid #000;
}
#projectDetails .requests textarea {
  width: 100%;
  margin: .5em auto 1em auto;
  padding: .5em;
  border: 2px solid #000;
}
#projectDetails .requests .select {
  margin: 1em auto;
}
#projectDetails .requests label {
  font-weight: 400;
}
#projectDetails .allComments .left {
  width: 31.5%;
  margin: 0 .5% 0 0;
}
#projectDetails .allComments .well {
  border-radius: 0;
}
#projectDetails .allComments .editBackground {
  background-color: whitesmoke;

  /*text-align: center;*/
  width: 100%;
  padding: 1em .5em;
  border-top: 2px solid #000;
}
#projectDetails .allComments textarea.edit {
  width: 100%;
  padding: .5em;
}
#projectDetails .allComments .right {
  width: 68%;
}
#projectDetails .allComments .right p {
  background-color: #fff;
  padding: .5em;
}
#projectDetails .allComments .editButtons button {
  display: inline-block;
}
/********************************************
                  SEARCH PAGE
********************************************/
#search {
  /*margin: 1em auto;*/
  background-color: whitesmoke;
  padding-bottom: 7em;
}
#playTrack {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #6922ff;
  padding: 1em .5em 0 .5em;
  color: #fff;
}
#playTrack a {
  font-weight: 500;
}
#search .noResults h2 {
  font-size: 1.5em;
  margin: 2em auto;
}
#search .background {
  background-color: #FF5722;
  padding: 1em;
}
#search h1 {
  margin-top: 0;
  margin-bottom: 1.5em;
  font-size: 1.5em;
  color: #fff;
}
#search .projects h3 {
  font-size: 1.35em;
  margin: 0 0 .5em 0;
}
#search audio, #profile audio {
  width: 100%;
}
#search img {
  width: 110px;
}
#search .info {
  margin-left: 8%;
  /*margin-left: 2em;*/
}
#search .projects {
  border-top: 2px dotted #000;
  padding: 1em 0;
  background-color: #fff;
  padding: 1em;
  /*border-bottom: 2px dotted #000;*/
  /*max-width: 250px;*/
  /*width: 100%;
  float: left;*/
  /*margin: 0 5%;*/
}
#search .projects .well {
  padding-top: 1em;
  height: 450px;
}
#search .well img {
  margin: 1em auto;
}
.searchType {
  float: left;
  width: 50%;
  color: #fff;
}
.searchType input {
  float: left;
  margin-right: 5px;
}
#search .allProjects .card {
  width: 90%;
  margin: auto;
}
#search .searchBtn {
  text-align: center;
  margin-top: 1em;
}
#search .searchBtn a {
  display: inline-block;
  margin: .25em auto;
  width: 150px;
}
/********************************************
                  PROFILE
********************************************/
#profile {
  margin: 2em auto 20em auto;
  width: 92%;
}
#profile h1 {
  font-size: 1.5em;
}
#profile .currentProjects h2,
#profile .completedProjects h2 {
  font-size: 1.5em;
  color: #6922ff;
  /*color: #fff;*/
  /*background-color: #6922ff;*/
  display: inline-block;
  padding: .5em .75em;
}
#profile .project {
  border-top: 2px dotted #000;
  margin-bottom: 1em;
  padding: .5em;
}
#profile .project .content {
  width: 120px;
  margin-top: -2em;
  margin-left: .5em;
}
#profile .userInfo .panelParent {
  max-width: 300px;
  margin: auto;
}
#profile .userInfo .editBio {
  float: right;
  margin-top: -.5em
}
#profile img {
  width: 100px;
}
#profile .requestBtn {
  margin-top: -10px;
  /*margin: 1em auto 4em auto;
  text-align: center;*/
}
#profile .currentProjects,
#profile .completedProjects {
  margin: 2em auto 3em auto;
}
#profile .currentProjects .well,
#profile .completedProjects  .well {
  max-width: 250px;
  margin: auto;
}
#profile .currentProjects .listProjects,
#profile .completedProjects .listProjects {
  margin-top: 2em;
}
#profile .currentProjects .listProjects p,
#profile .completedProjects .listProjects p {
  margin: 1em auto;
}
#profile .bio {
  margin: 3em auto;
}
#profile .noProjects {
  margin-top: 3em;
}
#profile .avatar {
  max-width: 150px;
  margin: 1em auto;
}
#profile .dotted {
  border-top: 2px dotted #000;
  padding: .5em;
  /*border-bottom: 2px dotted #000;*/
}
#profile textarea {
  width: 100%;
  margin: 1em auto;
  border: 2px solid #000;
  padding: .5em;
}
#profile .userInfo {
  text-align: center;
  margin-top: 50px;
}
/********************************************
                  REQUESTS
********************************************/
#requests {
  margin: 1em auto;
}
#requests h1 {
  font-size: 1.5em;
  margin: 1em auto 1.5em auto;
}
#requests .inbound,
#requests .outbound {
  margin: 2em auto 2.5em auto;
}
#requests .noRequests {
  margin-top: 3em;
}
#requests h2 {
  font-size: 1.25em;
  border-top: 2px dotted #000;
  border-bottom: 2px dotted #000;
  padding: .5em 4em;
  color: #fff;
  display: inline-block;
  background-color: #6922ff;
}
/********************************************
                  MEDIA QUERIES
********************************************/
@media screen and (min-width: 525px) {
  #search .allProjects .card {
    width: 100%;
  }
  #projectDetails .projectTypes .well {
    padding: 1em;
  }
  #projectDetails .projectTypes li {
    float: left;
    width: 25%;
  }
  #search {
    min-height: 800px;
    position: relative;
  }
  #search .allProjects {
    width: 92%;
    margin: auto;
  }
  #search form {
    padding: 1em 0;
    width: 92%;
    margin: auto;
  }
  #profile .project {
    width: 50%;
    float: left;
    border: 2px dotted #000;
  }
  #playTrack {
    text-align: center;
  }
  #search audio,
  #profile audio {
    width: 500px;
  }
  #search .projects {
    width: 50%;
    float: left;
    background-color: #fff;
    border: 2px dotted #000;
    padding: .8em;
    /*width: 234px;*/
  }
  #search .background {
    padding: 1em;
  }
  #search .projects .well {
    height: 550px;
  }
  #search .info {
    margin-left: .5em;
  }
  #search .projects .well:last-child {
    margin: 0 0 0 .5em;
  }
  #search .projects .well:first-child {
    margin: 0 .5em 0 0;
  }
  .login h1, .signup h1 {
    font-size: 2.25em;
  }
  .userForm {
    max-width: 450px;
    margin: 4.5em auto;
  }
  #profile .currentProjects h2,
  #profile .completedProjects h2 {
    padding: .5em 5em;
  }
  #projectDetails .allComments .left {
    width: 150px;
  }
  #projectDetails .allComments textarea.edit {
    width: 50%;
    margin: 0 25%;
  }
}
@media screen and (min-width: 825px) {
  #profile .project {
    width: 33.333333%;
  }
  #projectDetails .allComments textarea.edit {
    width: 100%;
  }
  #projectDetails .allComments .left {
    width: 31.5%;
  }
  #projectDetails .allComments .right {
    width: 66%;
  }
  #projectDetails .allComments textarea.edit {
    margin: 0;
  }
  #search .projects {
    width: 33.333333%;
    float: left;
    background-color: #fff;
    border: 2px dotted #000;
    padding: .8em;
    /*width: 234px;*/
  }
  #profile h1 {
    margin-bottom: 2em;
  }
  #profile .photo {
    float: left;
  }
  #profile .avatar {
    width: 200px;
  }
  #projectDetails .completedProjects {
    margin: -1em 0 0 0;
  }
  #projectDetails .projectInfo {
    max-width: 100%;
  }
  #projectDetails .projectInfo .photo {
    float: left;
    margin-top: -1em;
    width: 200px;
    margin-bottom: 1em;
  }
  #projectDetails .centerCol {
    float: left;
    margin-left: 3em;
  }
  #projectDetails .editButtons {
    text-align: center;
    margin-bottom: 1em;
  }
}
@media screen and (min-width: 825px) {
  #projectDetails .comments {
    background-color: whitesmoke;
    padding: 1em;
  }
  #projectDetails .comments .well {
    background-color: #fff;
  }
  #projectDetails .allComments {
    height: 600px;
    overflow-y: auto;
  }
  #projectDetails {
    /*width: 1055px;*/
    margin: 1em auto;
    position: relative;
  }
  #projectDetails .left {
    float: left;
    width: 58%;
    margin: 1%;
  }
  #projectDetails .right {
    float: left;
    width: 38%;
    margin: 1%;
  }
}

@media screen and (min-width: 1050px) {
  #projectDetails, #search, #profile {
    width: 1050px;
    margin: auto;
  }
  #search .info {
    margin-left: 10%;
  }
  #projectDetails .allComments .left {
    width: 22%;
  }
  #projectDetails .allComments .right {
    width: 75%;
  }
}
