<section class="banner text-center">

  <div>
    <h1>
      Connect with other musicans<br>
      and create the music you want
    </h1>
  </div>

  <div class="bannerBtns">
    <a ui-sref="signup" class="btn btn-default">Sign Up</a>
    <a href="#" class="btn btn-default">Learn More</a>
  </div>

</section>
<div id="home">
  <div class="container">
    <section id="learn">
      <h2 class="text-center">Learn More</h2>
      <p>MusiCollaboratory is a collaborative platform where musicians of any experience can come together to create music. Whether you're a budding musician or a seasoned pro, MusiCollaboratory is for you. We aspire to help bring your music ideas to life, and what better way than to connect with others who share this dream.</p>
    </section>

    <section id="getStarted">
      <h2 class="text-center">How to Get Started</h2>
      <p>After seting up a profile, members can then join a collaborative project or create one themselves. Whether it's lyrics or a melody - everyone can make a contribution. It all starts with an idea, and sometimes you just need that little push to make it happen.</p>
      <p>To join a project, first search for open projects that are actively seeking needs that match your own. Then send a request to join. You can also create your own and wait for others to send requests to join yours.</p>
    </section>
  </div>
</div>

<!-- It all starts with an ideaWe aim to help get your music ideas

Have an idea, but don't have all the skills to make it happen? No worries. Here we allow you to

 was created with the intent of  -->
