<section class="banner text-center">

  <div>
    <h1>
      Connect with other musicans<br>
      and create the music you want
    </h1>
  </div>

  <div class="bannerBtns">
    <a ui-sref="signup" class="btn btn-default">Sign Up</a>
    <a href="#home" target="_self" class="btn btn-default">Learn More</a>
  </div>

</section>
<div id="home">
  <div class="container">
    <section class="clear" id="learn">
      <h2 class="text-center">Learn More</h2>
      <p>MusiCollaboratory is a platform where musicians of any experience and anywhere in the world can come together to create music. Whether you're a budding musician, just playing around, or are a seasoned pro, MusiCollaboratory is for you. We aspire to help bring your music ideas to life, and what better way than to connect with others who share your passion for music?</p>
      <div class="guitarDiv">
        <img src="../images/mixer.png" alt="">
      </div>
    </section>

    <section class="clear" id="getStarted">
      <h2 class="text-center">How to Get Started</h2>
      <p>After setting up a profile, you can join a collaborative project or create one yourself. Whether it's production, lyrics, melody, or voice - everyone can create or offer a contribution. It all starts with an idea, and sometimes you just need that missing peice to make it happen.</p>
      <div class="lyricsDiv">
        <img src="../images/lyrics.jpeg" alt="">
      </div>

      <p>To join a project, first search for open projects that are actively seeking what you want to contribute. Next, send a request to join or create your own for others to request to join.</p>
      <p>Once accepted to a project, simply upload and download files for project members to work with!</p>
      <div class="melodyDiv">
        <img src="../images/melody.jpeg" alt="">
      </div>
      <div class="voiceDiv">
        <img src="../images/voice.jpeg" alt="">
      </div>
    </section>
  </div>
</div>
