<div id="projectDetails" class="clear">

  <div ng-class="{ fullWidth: project.members.indexOf(rootUsername) < 0, left: project.members.indexOf(rootUsername) > -1 }">

    <div class="editButtons" ng-show="project.members.indexOf(rootUsername) > -1">
      <button ng-class="{ hide: edit, showBtn: !edit }" ng-click="editProject()" class="btn btn-primary">Edit Project</button>
      <button ng-class="{ hide: !edit, showBtn: edit}" ng-click="cancelProjectEdit()" class="btn btn-white" name="button">Cancel</button>
      <button ng-class="{ hide: !edit, showBtn: edit}" ng-click="saveProjectEdits(project._id)" class="btn btn-primary" name="button">Save</button>
      <div class="showInline" ng-hide="rootUsername !== project.owner">
        <button ng-click="deleteProject(project._id)" class="btn btn-default">Delete Project</button>
        <button ng-show="!isCompleted" ng-click="completeProject(project._id, true)" class="btn btn-purple">Mark as Completed</button>
        <button ng-show="isCompleted" ng-click="completeProject(project._id, false)" class="btn btn-purple">Unmark as Completed</button>
      </div>
    </div>

    <div class="projectInfo clear text-center">
      <div class="completedProjects">
        <h2 ng-show="project.completed">Project is closed.</h2>
        <h2 ng-show="!project.completed">Project is open.</h2>
      </div>
      <div class="photo">
        <img class="avatar" ng-src="/upload/{{project.avatar}}" alt="">
        <h3 class="muted"><em>Started by <a class="red" ui-sref="profile({ username: project.owner })">{{project.owner}}</a>, © All rights reserved </em><span>{{ project.created | date: "yyyy"}}</span></h3>
      </div>
      <div class="centerCol">
        <h1 class="purple">{{project.name}}</h1>
        <div class="members">
          <h4>Current Members:</h4>
          <ul>
            <li ng-repeat="member in project.members"><a class="red" ui-sref="profile({ username: member })">{{member}}</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div ng-show="!edit" class="projectTypes">

      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Description:</strong>
        </div>
        <div class="panel-body">{{project.description}}</p>
        </div>
      </div>

      <div class="panel panel-default clear">
        <!-- <h2 ng-hide="((project.existingTypes.lyrics === false) && (project.existingTypes.production === false) && (project.existingTypes.melody === false) && (project.existingTypes.voice === false))">Already has:</h2> -->
        <div class="panel-heading">
          <h2>Already Has:</h2>
        </div>
        <ul class="panel-body">
          <li ng-repeat="(type, checked) in project.existingTypes" ng-show="project.existingTypes[type]">{{type}}</li>
        </ul>
        <!-- <p>None at this time...</p> -->
      </div>

      <div class="panel panel-default clear">
        <div class="panel-heading">
          <h2 ng-show="project.seekingTypes">Seeking:</h2>
        </div>
        <!-- <div ng-repeat="(type, checked) in project.seekingTypes">
          <p ng-show="project.seekingTypes[type]">{{type}}</p>
        </div> -->
        <!-- <p ng-show="project.seekingTypes.length === 0">None at this time...</p> -->
        <ul class="panel-body">
          <li ng-repeat="(type, checked) in project.seekingTypes" ng-show="project.seekingTypes[type]">{{type}}</li>
        </ul>
        <!-- <p ng-show="!something">None at this time...</p> -->
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Project Samples:</h2>
        </div>
        <p ng-show="project.files.length < 1">None at this time.</p>
        <div ng-repeat="file in allFiles">
          <div class="panel-body">
            <p><strong>{{file.originalName}}</strong></p>
            <p class="muted">Uploaded by <span><a class="red" ui-sref="profile({ username: file.owner })">{{file.owner}}</a></span> on {{ file.created | date : "MMM dd, yyyy"}}</p>
            <div ng-if="file.type === 'audio'">
              <audio controls audioplayer ng-src="{{getAudioUrl(file._id)}}"></audio>
            </div>
            <div ng-if="file.type === 'document'">
              <form class="download" method="get" action="{{getAudioUrl(file._id)}}">
                <button class="btn btn-primary" type="submit">Download!</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div ng-show="edit" class="editProjectInfo">

      <form class="image" ng-controller="ProjectAvatarController">
        <h3>Upload New Project Image</h3>
        <p class="muted tinyP">Please choose a file with one of the following extensions: png, jpg, txt, jpeg, bmp, tiff, gif, tif.</p>
        <div class="fileDiv">
          <input type="hidden" ng-model="projectId" name="" value="{{projectInfo._id}}">
          <input type="file" nv-file-select="" uploader="uploader" />
          <button type="button" class="upload btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
              Upload Image
          </button>
        </div>
      </form>

      <div ng-show="projectAvatar !== null" class="panel panel-body">
        <p>{{projectAvatar.originalName}}</p>
        <button ng-click="deleteProjectAvatar(projectAvatar._id)" class="btn btn-default">Delete</button>
      </div>

      <form class="files" ng-controller="FileController">
        <h3>Upload Project Samples</h3>
        <p class="muted tinyP">Please choose a file with one of the following extensions: doc, docx, txt, pdf, rtf, mp3, wav, m4a.</p>
        <div class="fileDiv">
        <input type="hidden" ng-model="projectId" name="" value="{{projectInfo._id}}">
        <input type="file" nv-file-select="" uploader="uploader" />
        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
            Upload File
        </button>
      </form>

      <div class="">
        <div ng-repeat="file in allFiles">
          <div class="panel panel-body">
            <p>{{file.originalName}}</p>
            <button class="btn btn-danger" ng-click="deleteFile(file._id)" name="button">Delete</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2>Description</h2>
            </div>
            <textarea class="panel-body" ng-model="project.description" rows="8" cols="80"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2>Has:</h2>
            </div>
            <div class="panel-body">
              <div class="">
                <label for="melody">Melody</label>
                <input ng-model="hasMelody" type="checkbox" name="melody" value="melody">
              </div>
              <div class="">
                <label for="lyrics">Lyrics</label>
                <input ng-model="hasLyrics" type="checkbox" name="lyrics" value="lyrics">
              </div>
              <div class="">
                <label for="voice">Voice</label>
                <input ng-model="hasVoice" type="checkbox" name="voice" value="voice">
              </div>
              <div class="">
                <label for="production">Production</label>
                <input ng-model="hasProduction" type="checkbox" name="production" value="production">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2>Needs:</h2>
            </div>
            <div class="panel-body">
              <div class="">
                <label for="melody">Melody</label>
                <input ng-model="needsMelody" type="checkbox" name="melody" value="melody">
              </div>
              <div class="">
                <label for="lyrics">Lyrics</label>
                <input ng-model="needsLyrics" type="checkbox" name="lyrics" value="lyrics">
              </div>
              <div class="">
                <label for="voice">Voice</label>
                <input ng-model="needsVoice" type="checkbox" name="voice" value="voice">
              </div>
              <div class="">
                <label for="production">Production</label>
                <input ng-model="needsProduction" type="checkbox" name="production" value="production">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div ng-show="alreadyRequested" class="panel panel-body">
      <p>Thanks. Your request was successfully sent.</p>
    </div>

    <form class="requests" ng-show="(!alreadyRequested) && (rootUsername !== project.owner) && (project.members.indexOf(rootUsername) < 0)" ng-submit="requestContribute()">
      <div class="well">
        <h2>Request to contribute</h2>
        <div class="select">
          <div ng-repeat="(type, checked) in project.seekingTypes" ng-show="project.seekingTypes[type]">
            <label for="">{{type}}</label>
            <input ng-model="requestedTypes[type]" type="checkbox">
          </div>
        </div>
        <p>Let the project creator know why you'd be a good fit.</p>
        <textarea ng-model="description" name="name" rows="4" cols="40"></textarea>
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </form>
  </div>

  <div class="right">
    <div class="comments" ng-show="project.members.indexOf(rootUsername) > -1">
      <form class="post clear">
        <h2>Project Comments</h2>
        <textarea ng-model="content" rows="5" cols="80"></textarea>
        <button ng-click="addComment(content)" class="btn btn-default pull-right">Post a Comment</button>
      </form>
      <div class="allComments clear">
        <div class="pull-left editBackground" ng-repeat="comment in allComments">
          <textarea ng-model="comment.content" ng-show="editComment" class="edit" rows="3" cols="80"></textarea>
          <div class="clear">
            <div class="pull-left left">
              <p class="muted tinyP" ng-show="!editComment">{{comment.date | date : "MMM dd, yyyy"}}</p>
              <p ng-show="!editComment">- <span><a class="red" ui-sref="profile({ username: comment.author })">{{comment.author}}</a></span></p>
            </div>
            <div class="pull-left right clear">
              <p ng-show="!editComment">{{comment.content}}</p>
              <div ng-show="rootUsername === comment.author" class="editButtons pull-right">
                <button ng-show="!editComment" ng-click="editComment = true" class="btn btn-default">Edit</button>

                <button ng-click="saveProjectComment(comment._id, comment.content)" ng-show="editComment" class="btn btn-purple">Save</button>

                <button ng-click="editComment = false" ng-show="editComment" class="btn btn-default" name="button">Cancel</button>
                <button ng-show="!editComment" class="btn btn-purple" ng-click="deleteComment(comment._id)">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
