<div id="requests" class="container">
  <h1 class="text-center">Messages Center</h1>

  <div class="inbound">
    <h2 class="thick red">Inbox</h2>
    <div class="noRequests" ng-show="receiveRequests.length === 0">
      <p>None at this time...</p>
    </div>
    <div ng-repeat="request in receiveRequests" class="well">
      <h3>From: <a ui-sref="profile({ username: request.from })"><strong>{{request.from}}</strong></a></h3>
      <p>{{ request.date | date : 'MMM dd, yyyy'}}</p>
      <h4>Interested in contributing to <a ui-sref="myproject({ project_id: request.projectId })">{{request.projectName}}</a>:</h4>
      <form ng-repeat="type in request.requestTypes">
        <label for="">{{type}}</label>
        <input type="checkbox" ng-model="typeRequest[type]" name="" value="">
      </form>
      <!-- <span ng-repeat="type in request.requestTypes">{{type}}, </span> -->
      <p>{{request.description}}</p>
      <button class="btn btn-success" ng-click="acceptRequest(request._id, request.projectId, request.from, request.projectName)">Accept</button>
      <a class="btn btn-danger" ng-click="declineRequest(request._id)">Decline</a>
    </div>
  </div>

  <div class="outbound">
    <h2 class="thick red">Outbox</h2>
    <div class="noRequests" ng-show="sendRequests.length === 0">
      <p>None at this time...</p>
    </div>
    <div ng-repeat="request in sendRequests" class="well">
      <h3>To: <a ui-sref="profile({ username: request.to })"><strong>{{request.to}}</strong></a></h3>
      <p>{{ request.date | date : 'MMM dd, yyyy'}}</p>
      <h4>Interested in contributing to {{request.projectName}}:</h4>
      <ul ng-repeat="type in request.requestTypes">
        <li>{{type}}</li>
      </ul>
      <!-- <span ng-repeat="type in request.requestTypes">{{type}}, </span> -->
      <p>{{request.description}}</p>
      <a class="btn btn-danger" ng-click="declineRequest(request._id)">Delete</a>
    </div>
  </div>

</div>
