<h1>Requests Center</h1>

<div class="well">
  <h2>Inbound</h2>
  <div ng-repeat="request in receiveRequests" class="well">
    <h2>From: <a ui-sref="profile({ username: request.senderName })"><strong>{{request.senderName}}</strong></a></h2>
    <p>{{ request.date | date : 'MMM dd, yyyy'}}</p>
    <h4>Interested in contributing to <a ui-sref="myproject({ project_id: request.projectId })">{{request.projectName}}</a>:</h4>
    <form ng-repeat="type in request.requestTypes">
      <label for="">{{type}}</label>
      <input type="checkbox" ng-model="typeRequest[type]" name="" value="">
    </form>
    <!-- <span ng-repeat="type in request.requestTypes">{{type}}, </span> -->
    <p>{{request.description}}</p>
    <button class="btn btn-success" ng-click="acceptRequest(request._id, request.projectId, request.senderName)">Accept</button>
    <a class="btn btn-danger" ng-click="declineRequest(request._id)">Decline</a>
  </div>
</div>

<div class="well">
  <h2>Outbound: My Pending Requests</h2>
  <div ng-repeat="request in sendRequests" class="well">
    <h2>To: <a ui-sref="profile({ username: request.projectOwner })"><strong>{{request.projectOwner}}</strong></a></h2>
    <p>{{ request.date | date : 'MMM dd, yyyy'}}</p>
    <h4>Interested in contributing to {{request.projectName}}:</h4>
    <ul ng-repeat="type in request.requestTypes">
      <li>{{type}}</li>
    </ul>
    <!-- <span ng-repeat="type in request.requestTypes">{{type}}, </span> -->
    <p>{{request.description}}</p>
  </div>
</div>
