<div class="container">

  <h1>SEARCH RESULTS PAGE</h1>

  <!-- <form>
    <div class="form-group">
      <input type="text" name="search" value="">
    </div>
    <button class="btn btn-primary" name="button">Search</button>
  </form> -->

  <form >
    <div class="well">
      <h2>Needs:</h2>
      <div class="">
        <label for="melody">Melody: </label>
        <input ng-model="needsMelody" type="checkbox" name="melody" value="melody">
      </div>
      <div class="">
        <label for="lyrics">Lyrics: </label>
        <input ng-model="needsLyrics" type="checkbox" name="lyrics" value="lyrics">
      </div>
      <div class="">
        <label for="voice">Voice: </label>
        <input ng-model="needsVoice" type="checkbox" name="voice" value="voice">
      </div>
      <div class="">
        <label for="production">Production: </label>
        <input ng-model="needsProduction" type="checkbox" name="production" value="production">
      </div>
      <button ng-click="searchProjects()" type="submit" name="button">Search</button>
      <a ng-click="reloadSearch()" class='btn btn-primary'>all projects</a>

    </div>
  </form>

  <div class="row" ng-show="allProjects.length > 0" ng-repeat="project in allProjects">
    <div class="col-sm-4">
      <div class="well">
        <h3><a ui-sref="myproject({ project_id: project._id })">{{project.name}}</a></h3>
        <div ng-if="project.files[0]">
          <audio controls audioplayer ng-src="{{getAudioUrl(project.files[0])}}"></audio>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="allProjects.length === 0">
    <h2>No results...</h2>
  </div>


  <!-- <div class="row" ng-repeat="project in allProjects">
    <div class="col-sm-4">
      <div class="well">
        <h3>{{project.name}}</h3>
        <p>{{project.files}}</p>
         {{project.files[0]}}
        <div ng-if="project.files[0]">
          TOBY WAS HERE
          <img ng-src="/upload/{{project.files[0]}}.mp3" controls>
        </div>
      </div>
    </div>
  </div> -->


</div>
