<div id="search" class="">

  <form>
    <div class="background">
      <div class="clear">

        <h1>What would you like to contribute in a project?</h1>

        <div class="searchType">
          <label for="melody">Melody</label>
          <input ng-model="needsMelody" type="checkbox" name="melody" value="melody">
        </div>
        <div class="searchType">
          <label for="lyrics">Lyrics</label>
          <input ng-model="needsLyrics" type="checkbox" name="lyrics" value="lyrics">
        </div>
        <div class="searchType">
          <label for="voice">Voice</label>
          <input ng-model="needsVoice" type="checkbox" name="voice" value="voice">
        </div>
        <div class="searchType">
          <label for="production">Production</label>
          <input ng-model="needsProduction" type="checkbox" name="production" value="production">
        </div>
      </div>
      <div class="searchBtn">
        <a ng-click="searchProjects()" class="btn btn-default">Search</a>
        <a ng-click="reloadSearch()" class='btn btn-purple'>view all projects</a>
      </div>

    </div>
  </form>

  <!-- <form>
    <div class="well">
      <div class="">
        <label for="melody">Melody: </label>
        <input ng-model="needsMelody" type="checkbox" name="melody" value="melody">
      </div>
      <div class="">
        <label for="lyrics">Lyrics: </label>
        <input ng-model="needsLyrics" type="checkbox" name="lyrics" value="lyrics">
      </div>
      <div class="">
        <label for="voice">Voice: </label>
        <input ng-model="needsVoice" type="checkbox" name="voice" value="voice">
      </div>
      <div class="">
        <label for="production">Production: </label>
        <input ng-model="needsProduction" type="checkbox" name="production" value="production">
      </div>
      <button ng-click="searchProjects()" type="submit" name="button">Search</button>
      <a ng-click="reloadSearch()" class='btn btn-primary'>view all projects</a>

    </div>
  </form> -->

  <div class="clear allProjects" ng-show="allProjects.length > 0">
    <div class="clear projects" ng-repeat="project in allProjects">

      <div class="card clear">
        <div class="pull-right" ng-show="isAudioFile(project.files[0])">
          <i ng-click="getAudioUrl(project.files[0], project.name, project._id)" class="fa fa-3x fa-play-circle" aria-hidden="true"></i>
        </div>
        <div class="top">
          <h3><a class="red" ui-sref="myproject({ project_id: project._id })">{{project.name}}</a></h3>
          <p class="tinyP muted">Started by: <a class="red" ui-sref="profile({ username: project.owner })">{{project.owner}}</a></p>
          <p class="tinyP">{{ project.created | date : "MMM dd, yyyy"}}</p>
        </div>
        <img class="pull-left" ng-src="/upload/{{project.avatar}}" alt="">

        <div class="pull-left info">
          <!-- <p>Created by: <a class="red" ui-sref="profile({ username: project.owner })">{{project.owner}}</a></p> -->
          <p>Seeking:</p>
          <div ng-repeat="(key, val) in project.seekingTypes">
            <li ng-if="val">{{key}}</li>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="noResults" ng-show="allProjects.length === 0">
    <h2>No results...</h2>
  </div>

  <div ng-class="{show: audioTrack, hide: !audioTrack }" id="playTrack">
    <p>File Sample from <a class="red" ui-sref="myproject({ project_id: currProjectId })">{{currProjectName}}</a></p>
    <audio controls audioplayer ng-src="{{audioTrack}}"></audio>
  </div>
</div>

  <!-- <img ng-click="getAudioUrl(project.files[0])" src="../images/guitar.jpg" alt=""> -->
  <!-- <audio controls audioplayer ng-src="{{getAudioUrl(project.files[0])}}"></audio> -->
  <!-- <audio controls audioplayer ng-src="{{getAudioUrl(project.files[0])}}"></audio> -->

  <!-- <div class="row" ng-repeat="project in allProjects">
    <div class="col-sm-4">
      <div class="well">
        <h3>{{project.name}}</h3>
        <p>{{project.files}}</p>
         {{project.files[0]}}
        <div ng-if="project.files[0]">
          TOBY WAS HERE
          <img ng-src="/upload/{{project.files[0]}}.mp3" controls>
        </div>
      </div>
    </div>
  </div> -->


<!-- <div ng-class="{show: audioTrack, hide: !audioTrack }" class="playTrack">
  <p>File Sample from <span class="red">{{currProjectName}}</span></p>
  <audio controls audioplayer ng-src="{{audioTrack}}"></audio>
  <! <audio controls audioplayer ng-src="/upload/8e75f6e5-9662-4684-9656-2bd6eea3c75c.m4a"></audio> -->
<!-- </div> -->
