,<div id="profile" class="container">

  <div class="userInfo">
    <h1>{{userInfo._id}}'s Profile</h1>
    <img class="avatar" ng-src="/images/{{userInfo.avatar}}" alt="">
    <p class="muted">Joined {{ userInfo.joined | date : 'MMM yyyy'}}</p>

    <textarea ng-show="edit" ng-model="description" rows="8" placeholder="Add a bio..."></textarea>
    <p class="bio"ng-show="!edit">{{description}}</p>
    <div ng-show="rootUsername === currUser">
      <button ng-click="saveBio()" ng-show="edit" type="button" class="btn btn-success">Save</button>
      <button ng-click="editBio()" ng-show="!edit" type="button" class="btn btn-purple">Edit</button>
      <button ng-click="cancelEditBio()" ng-show="edit" type="button" class="btn btn-primary">Cancel</button>
    </div>

  </div>

  <div class="requestBtn" ng-show="rootUsername === currUser">
    <a ui-sref="requests({ username: rootUsername })" class="btn btn-default">My Requests</a>
  </div>

  <div class="currentProjects">
    <h2>Current Projects</h2>
    <div class="noProjects" ng-show="checkCurrentProjects() === true">
      <p>None at this time...</p>
    </div>
    <div class="listProjects">
      <div ng-repeat="project in allProjects" ng-show="!project.completed" class="well">
        <div class="text-center">
          <h4><a class="red" ui-sref="myproject({ project_id: project._id})">{{project.name}}</a></h4>
          <p class="muted">{{project.created | date : "MMM dd, yyyy"}}</p>
          <img ng-src="/images/{{project.avatar}}" alt="">
        </div>
        <p>{{project.description | limitTo : 100 : 0 }}...</p>

        <div ng-show="project.files.length > 0">
          <audio controls audioplayer ng-src="{{getAudioUrl(project.files[0])}}"></audio>
        </div>
      </div>
    </div>
  </div>

  <div class="completedProjects">
    <h2>Completed Projects</h2>
    <div class="noProjects" ng-show="checkCompletedProjects() === false">
      <p>None at this time...</p>
    </div>
    <div class="listProjects">
      <div ng-model="anyCompleted" ng-repeat="project in allProjects" class="well" ng-show="project.completed">
        <div class="text-center">
          <h3><a class="red" ui-sref="myproject({ project_id: project._id })">{{project.name}}</a></h3>
          <p class="muted">{{project.created | date : "MMM dd, yyyy"}}</p>
          <img ng-src="/images/{{project.avatar}}" alt="">
          <p>{{project.description | limitTo : 100 : 0 }}...</p>
        </div>
        <div ng-show="project.files.length > 0">
          <audio controls audioplayer ng-src="{{getAudioUrl(value.files[0])}}"></audio>
        </div>
      </div>
    </div>
  </div>
</div>
