<div id="profile" class="">

  <div class="pull-right requestBtn" ng-show="rootUsername === currUser">
    <a ui-sref="requests({ username: rootUsername })" class="btn btn-default">My Requests</a>
  </div>

  <div class="userInfo">
    <h1>{{userInfo._id}}'s Profile</h1>
    <div ng-show="!edit" class="photo">
      <img class="avatar" ng-src="/upload/{{userInfo.avatar}}" alt="">
      <p class="date muted">Joined {{ userInfo.joined | date : 'MMM yyyy'}}</p>
    </div>
    <div class="panelParent">
      <div ng-show="edit">
        <form ng-controller="UserAvatarController">
          <h3 class="muted tinyP">Please choose a file with one of the following extensions: png, jpg, txt, jpeg, bmp, tiff, gif, tif.</h3>
          <div class="fileDiv">
            <input type="hidden" ng-model="projectId" name="" value="{{projectInfo._id}}">
            <input type="file" nv-file-select="" uploader="uploader" />
            <button type="button" class="upload btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                Upload
            </button>
          </div>
        </form>
        <textarea ng-model="description" rows="8" placeholder="Add a bio..."></textarea>
      </div>
      <div ng-show="!edit" class="panel panel-default">
        <div class="panel-heading">
          Bio:
        </div>
        <div class="panel-body">
          {{description}}
        </div>
      </div>

      <div class="clear" ng-show="rootUsername === currUser">
        <button ng-click="saveBio()" ng-show="edit" type="button" class="btn btn-success">Save</button>
        <button ng-click="editBio()" ng-show="!edit" type="button" class="btn btn-default editBio">Edit</button>
        <button ng-click="cancelEditBio()" ng-show="edit" type="button" class="btn btn-primary">Cancel</button>
      </div>
    </div>

  </div>

  <div class="currentProjects clear">
    <h2 class="red">Current Projects</h2>
    <hr class="dotted">
    <div class="noProjects" ng-show="checkCurrentProjects() === true">
      <p>None at this time...</p>
    </div>
    <div class="clear listProjects">
      <div ng-repeat="project in allProjects" ng-show="!project.completed" class="clear project">
        <div class="clear">
          <div class="pull-right" ng-show="isAudioFile(project.files[0])">
            <i ng-click="getAudioUrl(project.files[0], project.name, project._id)" class="fa fa-3x fa-play-circle" aria-hidden="true"></i>
          </div>
          <h4><a class="red" ui-sref="myproject({ project_id: project._id})">{{project.name}}</a></h4>
          <p class="muted">{{project.created | date : "MMM dd, yyyy"}}</p>
        </div>
        <img class="pull-left clear" ng-src="/upload/{{project.avatar}}" alt="">
        <div class="content pull-left">
          <p>{{project.description | limitTo : 80 : 0 }}...</p>
        </div>
      </div>
    </div>
  </div>

  <div class="completedProjects clear">
    <h2 class="red">Completed Projects</h2>
    <hr class="dotted">
    <div class="noProjects" ng-show="checkCompletedProjects() === false">
      <p>None at this time...</p>
    </div>
    <div class="clear listProjects">
      <div ng-model="anyCompleted" ng-repeat="project in allProjects" class="project clear" ng-show="project.completed">
        <div class="clear">
          <div class="pull-right" ng-show="isAudioFile(project.files[0])">
            <i ng-click="getAudioUrl(project.files[0], project.name, project._id)" class="fa fa-3x fa-play-circle" aria-hidden="true"></i>
            <!-- <audio controls audioplayer ng-src="{{getAudioUrl(value.files[0])}}"></audio> -->
          </div>
          <h3><a class="red" ui-sref="myproject({ project_id: project._id })">{{project.name}}</a></h3>
          <p class="muted">{{project.created | date : "MMM dd, yyyy"}}</p>
        </div>
        <img class="clear pull-left" ng-src="/upload/{{project.avatar}}" alt="">
        <div class="content pull-left">
          <p>{{project.description | limitTo : 80 : 0 }}...</p>
        </div>
      </div>
    </div>
  </div>

  <div ng-class="{show: audioTrack, hide: !audioTrack }" id="playTrack">
    <p>File Sample from <a class="red" ui-sref="myproject({ project_id: currProjectId })">{{currProjectName}}</a></p>
    <audio controls audioplayer ng-src="{{audioTrack}}"></audio>
  </div>
</div>
